@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Raleway&display=swap');

html {
  font-family: 'Lato',sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background: white;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer{
  margin-top: 100px;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
